
.top-logo{
    width: 15%;
    height: 15%;
}
.navbar {
  padding-top:    0.25rem; /* 0px does not look good on small screens */
  padding-bottom: 0.25rem;
  /* Just because I am using big size font */
  line-height: 1em;
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.bg-grey {
	background-color: grey;
}

.btn {
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.shf {
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
/*.navbar {
  height: 40px;
}
*/
/*.navbar-brand {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
}

.navbar-toggle {
   (80px - button height 34px) / 2 = 23px 
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
     (80px - line-height of 27px) / 2 = 26.5px 
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}*/